.container-fluid {
  width: 100%;
  /* height: 200vh; */
}

.container {
  padding: 0 20px;
}

.btn-primary {
  height: 50px;
  color: white;
  background-color: black;

  border: 0px;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  cursor: pointer;

  padding: 0 20px;
}

.title {
  color: black;
  letter-spacing: 0.1em;
  font-weight: 500;
}
.title::after {
  content: "";
  display: block;
  height: 2px;
  width: 70px;

  background-color: greenyellow;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* ----------------- End normal class -----------------*/

.navbar {
  visibility: hidden;
  width: 100%;
  height: 90px;
  background-color: transparent;

  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}

.navbar-min {
  height: 75px;
  background-color: white;
}

.navbar-box {
  width: 33.33%;
  height: 40%;

  display: flex;
  align-items: center;
}

.navbar-toggle {
  /* background-color: blue; */
  height: 100%;

  display: flex;
  align-items: center;
}

.navbar-toggle p {
  margin-left: 15px;
}

.navbar-logo {
  display: inline-block;
  width: auto;
  height: 100%;
  /* height: auto; */
  margin: 0 auto;
}

.navbar-links {
  height: 100%;
  margin-left: auto;
  display: flex;
  align-items: center;

  font-size: larger;
  font-weight: 500;
}

.navbar-links li {
  display: inline-block;
  margin-left: 20px;

  font-size: 1.1em;
  font-weight: 500;
}

#cart {
  position: relative;
}

#cart-counter {
  display: inline-block;
  position: absolute;
  top: -40%;
  right: -50%;

  font-size: 0.6em;
  border-radius: 50%;
  height: 20px;
  width: 20px;

  line-height: 20px;
  color: white;
  background-color: red;
  text-align: center;
}

/* bug here */
.block-display {
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 100;
  background-color: black;
  opacity: 0.6;
}

.cart-detail {
  display: none;
  height: 100vh;
  width: 400px;

  position: fixed;
  right: 0;
  top: 0;

  z-index: 101;
  background-color: white;
}

/* Hero */
.hero {
  background-color: wheat;
  height: 100vh;
}

.hero-wrapper {
  height: 75%;
  width: 50%;
  position: relative;
  float: right;
}

.hero-content {
  display: inline-block;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

.hero-content h1 {
  font-size: 6em;
  letter-spacing: 0.1em;
  font-weight: bolder;
  margin-bottom: 15px;
}

.hero-content button {
  width: 150px;
  height: 50px;
}

.hero-bar {
  height: 22%;
  width: 100%;
  clear: both;
  background-color: white;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-bottom: 3%;

  padding: 10px;
  box-shadow: 0 7px 21px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.item-title {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* bug bug */
.item-title img {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.item-title h5 {
  display: block;
}

.item-text {
  height: 50%;
  text-align: center;
}

/* products */
.products {
  height: 100vh;
  width: 100%;

  /* display: flex; */
  text-align: center;
}

.products-title {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products-board {
  height: 75vh;
  width: 90%;
  background-color: transparent;
  margin: 0 auto;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-auto-rows: 1fr;
  column-gap: 30px;
  row-gap: 10px;
  padding: 10px 20px;
}

.card-shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.products-item {
  border-radius: 5px;
  background-color: transparent;
  overflow: hidden;
}

.products-loader {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* lam product card */
.item-thumb {
  width: 100%;
  height: 60%;
}

.item-thumb img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.item-detail {
  width: 100%;
  height: 40%;
  background-color: white;
}

.item-button {
  position: relative;
  width: 100%;
  height: 20%;
}

.btn-cart {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-weight: bold;
  background-color: #ff7200;
  border-radius: 50px;

  border: 0.1px #cc682a solid;
  box-shadow: 0px 2px 10px 0px #ff7200;
  width: 70%;
  height: 150%;

  cursor: pointer;
}

.card-title {
  margin-top: 2px;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}
.card-price {
  margin-top: 10px;
  font-weight: bold;
  color: #ff7200;
}
.card-price::after {
  content: " VNĐ";
}

.card-sale {
  color: red;
}
